[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Using map technology to draw infinite loop image without wasting memory.
[access "refs/*"]
	owner = group user/Setak Varaman !!!! (cheamseta)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Setak Varaman !!!! (cheamseta)
	label-Verified = -1..+1 group user/Setak Varaman !!!! (cheamseta)
	push = group user/Setak Varaman !!!! (cheamseta)
	read = group user/Setak Varaman !!!! (cheamseta)
	rebase = group user/Setak Varaman !!!! (cheamseta)
	removeReviewer = group user/Setak Varaman !!!! (cheamseta)
	submit = group user/Setak Varaman !!!! (cheamseta)
[access "refs/heads/*"]
	create = group user/Setak Varaman !!!! (cheamseta)
	push = +force group user/Setak Varaman !!!! (cheamseta)
	pushMerge = group user/Setak Varaman !!!! (cheamseta)
	read = group user/Setak Varaman !!!! (cheamseta)
[access "refs/tags/*"]
	push = group user/Setak Varaman !!!! (cheamseta)
	push = +force group user/Setak Varaman !!!! (cheamseta)
